body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
.textSection textarea {
  border: none;
  top: 10px;
  position: relative;
  resize: none;
}

.textSection textarea:focus {
  border: none;
  outline: none;
}

.pastTextArea:focus {
  background-color: #d3d3d3;
}

.presentTextArea:focus {
  background-color: #ff6961;
}

.futureTextArea:focus {
  background-color: #77dd77;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.timeSection{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
.hour p {
padding: 11px 0 0 0;
}

.eventInfo {
  padding: 11px 0 0 0;
  text-align: left;
}
.past {
  background-color: #d3d3d3;
  color: rgb(34, 34, 34);
}

.present {
  background-color: #ff6961;
  color: rgb(34, 34, 34);
}

.future {
  background-color: #77dd77;
  color: rgb(34, 34, 34);
}

.saveButton{
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveButton i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  color: rgb(34, 34, 34);

  };
